{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/meta-info.njk" %}
        <link rel="preload" as="font" {% if page.url == '/' %}  href="assets/font/FoundersGroteskVF.woff" {% else %} href="./../assets/font/FoundersGroteskVF.woff" {% endif %} type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" {% if page.url == '/' %}  href="assets/font/GayaRegular-Web.woff" {% else %} href="./../assets/font/GayaRegular-Web.woff" {% endif %} type="font/woff" crossorigin="anonymous">
        {% block scriptLink %}{% endblock %}
        {% if build.env == "production" %}
            {# Add any CSS from the main script #}
            {% viteLinkStylesheetTags "src/client/main.ts" %}
            {% viteLinkModulePreloadTags "src/client/main.ts" %}
        {% endif %}
        <style>
            {% if page.url == '/' %}
                @font-face {
                    font-family: "Founders Grotesk VF";
                    src: url("/assets/font/FoundersGroteskVF.woff") format("woff");
                }
                @font-face {
                    font-family: "Gaya";
                    src: url("/assets/font/GayaRegular-Web.woff") format("woff");
                } {% else %} @font-face {
                    font-family: "Founders Grotesk VF";
                    src: url("./../assets/font/FoundersGroteskVF.woff") format("woff");
                }
                @font-face {
                    font-family: "Gaya";
                    src: url("./../assets/font/GayaRegular-Web.woff") format("woff");
                }
            {% endif %}
            {{cssContent | safe}}
        </style>
    </head>
    <body>
        <div id="is">
            {% include "partials/site-head.njk" %}
            <main>
                {% block content %}{% endblock %}
            </main>
            {% if build.env == "production" %}
                {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
                {% viteScriptTag "src/client/main.ts" %}
                {% viteLegacyScriptTag "vite/legacy-polyfills-legacy" %}
                {% viteLegacyScriptTag "src/client/main-legacy.ts" %}
            {% else %}
                <script type="module" src="http://localhost:5173/@vite/client"></script>
                <script type="module" src="http://localhost:5173/src/client/main.ts"></script>
            {% endif %}
        </div>
        {# {% include "partials/footer-panel.njk" %} #}
    </body>
</html>