{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/meta-info.njk" %}
        <link rel="preload" as="font" {% if page.url == '/' %}  href="assets/font/FoundersGroteskVF.woff" {% else %} href="./../assets/font/FoundersGroteskVF.woff" {% endif %} type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" {% if page.url == '/' %}  href="assets/font/GayaRegular-Web.woff" {% else %} href="./../assets/font/GayaRegular-Web.woff" {% endif %} type="font/woff" crossorigin="anonymous">
        {% block scriptLink %}{% endblock %}
        {% if build.env == "production" %}
            {# Add any CSS from the main script #}
            {% viteLinkStylesheetTags "src/client/main.ts" %}
            {% viteLinkModulePreloadTags "src/client/main.ts" %}
        {% endif %}
        <style>
            {% if page.url == '/' %}
                @font-face {
                    font-family: "Founders Grotesk VF";
                    src: url("/assets/font/FoundersGroteskVF.woff") format("woff");
                }
                @font-face {
                    font-family: "Gaya";
                    src: url("/assets/font/GayaRegular-Web.woff") format("woff");
                } {% else %} @font-face {
                    font-family: "Founders Grotesk VF";
                    src: url("./../assets/font/FoundersGroteskVF.woff") format("woff");
                }
                @font-face {
                    font-family: "Gaya";
                    src: url("./../assets/font/GayaRegular-Web.woff") format("woff");
                }
            {% endif %}

            {% if page.url == '/about/' %}
                body {
                    background-image: radial-gradient(at 40% 20%, hsla(82,100%,74%,1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(79,51%,41%,1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(79,48%,57%,1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(81,23%,48%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(124,96%,33%,1) 0px, transparent 50%);
                } {% elif page.url == '/program/' %} body {
                    background-image: radial-gradient(at 40% 20%, hsla(181,100%,74%,1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(180,62%,50%,1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(181,65%,69%,1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(180,69%,81%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(180,96%,33%,1) 0px, transparent 50%);
                } {% elif page.url == '/the-cut/' %} body {
                    background-image: radial-gradient(at 40% 20%, hsla(277,100%,74%,1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(268,62%,50%,1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(268,67%,74%,1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(281,69%,73%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(279,96%,33%,1) 0px, transparent 50%);
                } {% elif page.url == '/technical/' %} body {
                    background-image: radial-gradient(at 40% 20%, hsla(30,100%,74%,1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(39,88%,50%,1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(32,67%,74%,1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(30,68%,47%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(30,96%,33%,1) 0px, transparent 50%);
                } {% elif page.url == '/collaborating/' %} body {
                    background-image: radial-gradient(at 40% 20%, hsla(233,100%,74%,1) 0px, transparent 50%), radial-gradient(at 0% 50%, hsla(214,87%,50%,1) 0px, transparent 50%), radial-gradient(at 80% 50%, hsla(206,67%,74%,1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(224,68%,47%,1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(216,96%,33%,1) 0px, transparent 50%);
                }
            {% endif %}

            {{cssContent | safe}}
        </style>
    </head>
    <body>
        <div id="is">
            {% include "partials/site-head.njk" %}
            <main>
                {% block content %}{% endblock %}
            </main>
            {% if build.env == "production" %}
                {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
                {% viteScriptTag "src/client/main.ts" %}
                {# {% viteLegacyScriptTag "vite/legacy-polyfills-legacy" %} #}
                {% viteLegacyScriptTag "src/client/main-legacy.ts" %}
            {% else %}
                <script type="module" src="http://localhost:5173/@vite/client"></script>
                <script type="module" src="http://localhost:5173/src/client/main.ts"></script>
            {% endif %}
        </div>
        {# {% include "partials/footer-panel.njk" %} #}
    </body>
</html>