.about {
  width: var(--width);
  margin: 0 auto;
  padding-block-end: 5rem;
}

.people {
  .title {
    border-bottom: 1px dashed #181818;
    padding-block: 0.7rem;
    h2 {
      width: var(--width);
      margin: 0 auto;
      font-weight: bold;
      -webkit-text-stroke: 0.3px #181818;
    }
  }

  ul {
    li {
      border-bottom: 1px dashed #181818;

      &:last-child {
        border-bottom: none;
      }
      .person {
        width: var(--width);
        margin: 0 auto;
        display: flex;
        gap: 1.5rem;
        padding-block: 1.5rem;

        @media (max-width: 40em) {
          flex-direction: column;
          align-items: center;
        }

        .image {
          width: 10rem;
          height: 10rem;
          aspect-ratio: 1/1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }

          @media (max-width: 40em) {
            width: 100%;
            height: 100%;
          }
        }

        a {
          font-size: var(--fs-p);
          font-weight: bold;
        }
      }
    }
  }
}

.aai {
  padding-block-start: 5rem;
  .title {
    border-bottom: 1px dashed #181818;
    padding-block: 0.7rem;
    h2 {
      width: var(--width);
      margin: 0 auto;
      font-weight: bold;
      -webkit-text-stroke: 0.3px #181818;
    }
  }
  .content {
    width: var(--width);
    margin: 0 auto;
    padding-block: 1.5rem;
  }
}
