.wrap {
  width: var(--width);
  margin: 0 auto;
}

.interviewees,
.supporters,
.collab,
.funders,
.dinners {
  padding-block-end: 5rem;
  .title {
    border-bottom: 1px dashed #181818;
    padding-block: 0.7rem;
    h2 {
      width: var(--width);
      margin: 0 auto;
      font-weight: 400;
      font-family: "Founders Grotesk Medium", Arial, sans-serif;

      // -webkit-text-stroke: 0.3px #181818;
    }
  }

  .content {
    padding-block: 1.5rem;
  }

  a {
    text-decoration: underline;
  }
}

.organizations {
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  margin-block: 1.5rem;

  @media (max-width: 40rem) {
    flex-direction: column;
    gap: 2.5rem;
  }

  .image {
    width: 15vw;
    @media (max-width: 40rem) {
      width: 60%;
      align-self: center;
    }
    img {
      mix-blend-mode: multiply;
      margin: 0;
    }
  }
}

.dinners {
    .spring {
      @media (max-width: 40em) {
      margin-top: 4rem;
      }
    }


  .images {
    width: 100%;
    margin-block-start: 2rem;

    &-wrapper {
      width: inherit;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-padding-inline: 1rem;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      scroll-snap-points-x: repeat(100%);
      overscroll-behavior-inline: contain;

      @media (max-width: 40em) {
        flex-direction: column;
        gap: 1.2rem;
      }

      .slide {
        scroll-snap-align: start;
        min-width: fit-content;
        min-height: 5rem;
        height: 52dvh;
        width: fit-content;
        margin: 0 1rem;

        @media (max-width: 40em) {
          height: fit-content;
        }

        img {
          height: 90%;

          @media (max-width: 40em) {
            height: initial;
          }
        }

        caption {
          font-size: 0.2rem;
          text-align: center;
          margin-block-start: 0.5rem;
        }
      }
    }
  }
}
