.wrap {
  width: var(--width);
  margin: 0 auto;
  padding-block-end: 5rem;
}

.interviewees {
  .title {
    border-bottom: 1px dashed #181818;
    padding-block: 0.7rem;
    h2 {
      width: var(--width);
      margin: 0 auto;
      font-weight: bold;
      -webkit-text-stroke: 0.3px #181818;
    }
  }

  .content {
    padding-block: 1.5rem;
  }
}
