.program {
  ul {
    li {
      border-bottom: 1px dashed #181818;
      .program__item {
        width: var(--width);
        margin: 0 auto;
        padding-block: 1.5rem;
        &__date {
          font-style: italic;
        }
        &__details {
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr 1fr 2fr;
          grid-gap: 1rem;

          @media (max-width: 40rem) {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
