.technical {
  .tech {
    & > :last-child {
      padding-block-end: 5rem;
    }

    a {
      text-decoration: underline;
    }
    .wrap {
      width: var(--width);
      margin: 0 auto;
    }

    .audios {
      margin-block: 2rem;
      display: flex;
      justify-content: space-around;
      gap: 2rem;

      @media (max-width: 40em) {
        flex-direction: column;
        align-items: center;
      }

      .audio {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;

        @media (max-width: 40em) {
          width: 100%;
        }

        audio {
          margin-block: 1rem;
        }

        .caption {
          padding-inline: 1rem;

          P {
            font-size: 1rem;
            line-height: 120%;
          }
        }
      }
    }

    .video-container {
      margin-block: 2rem;
      width: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .images {
      margin-block: 2rem;
      width: 100%;

      &-wrapper {
        width: inherit;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-padding-inline: 1rem;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scroll-snap-points-x: repeat(100%);
        overscroll-behavior-inline: contain;

        @media (max-width: 40em) {
          flex-direction: column;
          gap: 1.2rem;
        }

        .slide {
          scroll-snap-align: start;
          min-width: fit-content;
          min-height: 5rem;
          height: 52dvh;
          width: fit-content;
          padding: 0 1rem;

          @media (max-width: 40em) {
            height: fit-content;
          }

          img {
            height: 90%;
            object-fit: contain;
            @media (max-width: 40em) {
              height: initial;
            }
          }

          caption {
            font-size: 0.2rem;
            text-align: center;
            margin-block-start: 0.5rem;
          }
        }
      }
    }
  }
}
