{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="about">
                        <p>
                                The Asian Arts Initiative (AAI) aims to explore how artists can contribute to addressing climate disasters, going beyond mere representation to create tangible benefits through innovative strategies. They seek to involve artists who represent the majority of the global and city population, particularly marginalized communities, in a community-led effort to directly impact the Chinatown/Callowhill North neighborhood in Philadelphia. AAI acknowledges the challenges faced by urban greenspace renewal and climate disaster and intends to support artists who can effectively address these issues.
                        </p>
                        <p>
                                The Invasive Species project, funded by the National Endowment for the Arts' Our Town Grant, is part of Eco/Systems Land Based Initiatives. These projects focus on achieving local economic, physical, and social outcomes while centering equity and working towards systems change. The collaboration between AAI, SEPTA, and the City of Philadelphia aims to present Eco/Systems: Land Based Initiatives in 2023, showcasing the potential for art to contribute to community development and environmental resilience.
                        </p>
                </div>

                <div class="people">
                        <div class="title">
                                <h2>People</h2>
                        </div>

                        <ul>
                                <li>
                                        <div class="person">
                                                <div class="image"></div>
                                                <div class="bio">
                                                        <p>Ashley Gripper is a co-creator of Land Based Jawns, a Philly based organization rooted in Spirit and ancestral spiritual practices. They provide education and training to Black women, femme, and non-binary people, on agriculture, land based living, safety, and carpentry. They do so with a focus on self and community healing. Much of their work and training is guided by the skills and lessons highlighted throughout the Parable of the Sower series by Octavia Butler.</p>
                                                </div>
                                        </div>
                                </li>

                                <li>
                                        <div class="person">
                                                <div class="image"></div>
                                                <div class="bio">
                                                        <p>Sonia Galiber is a grower, educator, political organizer, and artist. As a member of Soil Generation, she does land, food, and environmental policy work, coordinates internal operations, graphic design, and contributes to healing and developing core theories. Philadelphia’s first Urban Agriculture Strategic Plan and Soil Generation’s Agroecology FROM the People are among the works she has helped co-create. Sonia also participated in the Food Policy Advisory Council, the Alliance for A Just Philly, and the HEAL Food Alliance on behalf of Soil Generation. Sonia is also an herbalist, hot sauce maker, and an artist of Japanese calligraphy and self-taught illustration. She was born in Okinawa, lived in Maryland, and now Philadelphia. Sonia draws inspiration from her Afro-Okinawan roots, her deep reverence of the mystical natural world, and the healing power of practicing community.</p>
                                                </div>
                                        </div>
                                </li>
                                <li>
                                        <div class="person">
                                                <div class="image"></div>
                                                <div class="bio">
                                                        <p>Eto Otitigbe & eo Studio, founded by Eto Otitigbe, eo Studio collaborates with artists, designers, researchers, and cultural workers to develop polymedia installations and public art projects. Current collaborators for the Invasive Species project include Chrissy Brimmage, Michael DiCarlo, Rudy Gerson, and Amanda Kerdahi. Recent eo Studio projects include Cascode, a permanent public artwork at The University of Pennsylvania, and Tankugbe Incubation Lab, a project that develops a series of mixed reality installations. eo Studio is a 2023 Creative Capital recipient for Tankugbe Incubation Lab.</p>
                                                        <p>Eto Otitigbe is a polymedia artist whose interdisciplinary practice includes sculpture, performance, installation, and public art. Through his interdisciplinary practice, he is interested in recovering buried narratives and giving form to the unseen. His public art intersects history, community, and biophilic design. Otitigbe is a recipient of the 2022 Augustus St. Gaudens Fellowship. Otitigbe is an Assistant Professor in the Art Department at Brooklyn College.</p>
                                                </div>
                                        </div>
                                </li>
                        </ul>

                </div>
        </div>
{% endblock %}