{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="collab wrap">
                        <p>The anchor of this project is the series of community engagements and co-creation process with the populations of Asian Americans from the North Callowhill/Chinatown area, students and staff from the Community College of Philadelphia, civic institutions, Black and Indigenous residents and stakeholders in the region who are working for a movement to connect land to sky and bring healing to earth and inhabitants along the way. In collaborating with major local community stakeholders (educational, ecological, cultural and infrastructural partners), we let the collaborative process guide the strategies for positive change in our communities that ultimately leads to a meaningful artistic expression.</p>
                </div>

                <div class="interviewees">
                        <div class="title">
                                <h2>Interviewees</h2>
                        </div>

                        <div class="content wrap">
                                <p>Throughout the project, we are conducting an interview series with selected members of Philadelphia's activist, civic, and grower communities. The interviews spotlight individuals who engage in the arts, urban gardening, community organizing, and climate justice.  Through personal narratives, they explain their current community-centered projects and speculate on the future climate. Below is a list of some of the interviewees. For more updates, visit AAI’s social media.</p>
                        </div>

                        <div class="wrap">
                                <ul>
                                        <li>
                                                <p> Andrea Ferreira, Epidemiologista | Doutora em Saúde Pública </p>
                                        </li>

                                        <li>
                                                <p> Nicky Uy, Co-Founder of Bahay 215 </p>
                                        </li>

                                        <li>
                                                <p> Bitter Kalli, Writer and Land Worker, Founder of Starapplefarm </p>
                                        </li>

                                        <li>
                                                <p> Michael Moran, Secretary of Iglesias Gardens </p>
                                        </li>

                                        <li>
                                                <p> Zakia Elliott, Organizer, Soil Generation </p>
                                        </li>

                                        <li>
                                                <p> Margery Cedeno, Potter/Avatar </p>
                                        </li>

                                        <li>
                                                <p> Debora Charmelus, Producer & Strategist </p>
                                        </li>

                                        <li>
                                                <p> Laquanda Dobson, Chef </p>
                                        </li>

                                        <li>
                                                <p> Ms. Vie, organizer, Glenwood Green Acres Community Garden </p>
                                        </li>

                                        <li>
                                                <p> Lan Dinh, Co-Founder, Co-Executive Director, Farm and Food Sovereignty Projects Director of VietLEAD </p>
                                        </li>

                                        <li>
                                                <p> Victoria Lupico, SEPTA Director of Communications </p>
                                        </li>

                                        <li>
                                                <p> Lex Powers, SEPTA Director of Information </p>
                                        </li>

                                        <li>
                                                <p> Alan Greenberger, former ar Commission Chair </p>
                                        </li>

                                        <li>
                                                <p> Jose Alminana, Landscape Architect from the Art Commission </p>
                                        </li>

                                </ul>
                        </div>
                </div>
        </div>
{% endblock %}