{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="collab wrap">
                        <p>The anchor of this project is the series of community engagements and co-creation process with the populations of Asian Americans from the North Callowhill/Chinatown area, students and staff from the Community College of Philadelphia, civic institutions, Black and Indigenous residents and stakeholders in the region who are working for a movement to connect land to sky and bring healing to earth and inhabitants along the way. In collaborating with major local community stakeholders (educational, ecological, cultural and infrastructural partners), we let the collaborative process guide the strategies for positive change in our communities that ultimately leads to a meaningful artistic expression.</p>
                </div>

                <div class="interviewees">
                        <div class="title">
                                <h2>Interviewees</h2>
                        </div>

                        <div class="content wrap">
                                <p>Throughout the project, we are conducting an interview series with selected members of Philadelphia's activist, civic, and grower communities. The interviews spotlight individuals who engage in the arts, urban gardening, community organizing, and climate justice.  Through personal narratives, they explain their current community-centered projects and speculate on the future climate. Below is a list of some of the interviewees. For more updates, visit AAI’s social media.</p>
                        </div>

                        <div class="wrap">
                                <ul>
                                        <li>
                                                <p> Andrea Ferreira, <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do;jsessionid=506B8B3D729579318F02B9B888FF2809.buscatextual_0">Epidemiologista | Doutora em Saúde Pública</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Nicky Uy, Co-Founder of <a href="https://www.instagram.com/bahay215/">Bahay 215</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Bitter Kalli, <a href="https://bitterkalli.com/">Writer and Land Worker</a>, Founder of <a href="https://www.starapplefarm.com/home">Starapplefarm</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Michael Moran, Secretary of <a href="https://iglesiasgardens.com/">Iglesias Gardens</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Zakia Elliott, Organizer, <a href="https://soilgeneration.org/">Soil Generation</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Margery Cedeno, <a href="http://margerycedano.com">Potter/Avatar</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Debora Charmelus, <a href="https://www.deboracharmelus.com/">Producer & Strategist</a>
                                                </p>
                                        </li>

                                        <li>
                                                <p> Laquanda Dobson, <a href="https://www.instagram.com/chefdobson/?hl=en">Chef</a>
                                                </p>
                                        </li>

                                </ul>
                        </div>
                </div>

                <div class="dinners">
                        <div class="title">
                                <h2>Community Dinners</h2>
                        </div>

                        <div class="content wrap">
                                <p>Two community dinner events were held as part of the community engagement process. During both events, community members came together to share a meal and stories around the topic of Invasive Species. The Fall Dinner fostered intimate conversations about personal migrations and plant cultivation. The Spring Dinner, entitled Displaced But Rooted, featured curated food offerings by Chef Laquanda Dobson, centered around the Invasive Species conversation. At this event, eo Studio set up a digital storybooth, enabling visitors to self-record their stories, of which selections are included in the Agboro installation and projection mapping pieces.</p>
                        </div>

                        <div class="fall dinner">
                                <h2 class="wrap">Fall Dinner</h2>
                                <div class="images">
                                        <!-- Additional required wrapper -->
                                        <div class="images-wrapper">
                                                <!-- Slides -->
                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/fall/DSC04856.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/fall/DSC04868.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/fall/DSC04907.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/fall/DSC04909.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                        </div>
                                </div>
                        </div>

                        <div class="spring dinner">
                                <h2 class="wrap">Spring Dinner</h2>
                                <div class="images">
                                        <!-- Additional required wrapper -->
                                        <div class="images-wrapper">
                                                <!-- Slides -->
                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC_0963.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC_0997.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04288.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04291.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04332.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04371.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04378.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04408.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04449.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                                <div class="slide">
                                                        <img src="./../assets/images/dinner/spring/DSC04470.jpg" alt="">
                                                        <caption></caption>
                                                </div>

                                        </div>
                                </div>
                        </div>
                </div>

                <div class="supporters">
                        <div class="title">
                                <h2>Supporters</h2>
                        </div>

                        <div class="content wrap">
                                <p>
                                        <ul>
                                                <li>Community College of Philadelphia</li>
                                                <li>Council President Darrell Clarke</li>
                                                <li>Councilmember Mark Squilla</li>
                                                <li>Free Library of Philadelphia</li>
                                                <li>Friends of Matthias Baldwin Park</li>
                                                <li>Logan Square Neighborhood Association</li>

                                                <li>Office of Arts, Culture, and Creative Economy</li>
                                                <li>Philadelphia Department of Streets</li>
                                                <li>Philadelphia Office of Special Events</li>
                                                <li>Philadelphia Parks and Recreation </li>
                                                <li>SEPTA</li>
                                                <li>The Pennsylvania Horticultural Society </li>
                                        </ul>
                                </p>
                        </div>
                </div>

                <div class="funders">
                        <div class="title">
                                <h2>Funders</h2>
                        </div>

                        <div class="content wrap">
                                <p>
                                        Invasive Species: Eco/Systems Land Based Initiatives is funded by the following supporters
                                </p>

                                <div class="organizations">
                                        <div class="image"><img src="./../assets/images/logos/nea.png" alt="Our Town Grant of the National Endowment for the Arts"></div>
                                        {# <li>Our Town Grant of the National Endowment for the Arts</li> #}
                                        <div class="image"><img src="./../assets/images/logos/wp.png" alt="William Penn Foundation"></div>
                                        {# <li>William Penn Foundation</li> #}
                                        <div class="image"><img src="./../assets/images/logos/pnc.jpg" alt="PNC Arts Alive"></div>
                                        {# <li>PNC Arts Alive</li> #}
                                </div>

                                <p>
                                        The NEA Our Town projects advance local economic, physical, or social outcomes in communities, ultimately laying the groundwork for systems change and centering equity. These projects require a partnership between a nonprofit organization and a local government entity, with one of the partners being a cultural organization. Asian Arts Initiative is pleased to partner with SEPTA and the City of Philadelphia to present Invasive Species: Eco/Systems Land Based Initiatives.
                                </p>
                        </div>
                </div>

        </div>
{% endblock %}