{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="program">
                        <ul>
                                <li>
                                        <div class="program__item">
                                                <div class="program__item__date">
                                                        <p>Saturday, 5 Sept. 2023</p>
                                                </div>
                                                <div class="program__item__details">
                                                        <div class="program__item__title">
                                                                <h3>Opening Ceremony</h3>
                                                        </div>
                                                        <div class="program__item__time">
                                                                <p>10:00 - 11:00</p>
                                                        </div>
                                                        <div class="program__item__location">
                                                                <p>Room 1</p>
                                                        </div>
                                                </div>
                                        </div>
                                </li>

                                <li>
                                        <div class="program__item">
                                                <div class="program__item__date">
                                                        <p>Saturday, 5 Sept. 2023</p>
                                                </div>
                                                <div class="program__item__details">
                                                        <div class="program__item__title">
                                                                <h3>Opening Ceremony</h3>
                                                        </div>
                                                        <div class="program__item__time">
                                                                <p>10:00 - 11:00</p>
                                                        </div>
                                                        <div class="program__item__location">
                                                                <p>Room 1</p>
                                                        </div>
                                                </div>
                                        </div>
                                </li>

                                <li>
                                        <div class="program__item">
                                                <div class="program__item__date">
                                                        <p>Saturday, 5 Sept. 2023</p>
                                                </div>
                                                <div class="program__item__details">
                                                        <div class="program__item__title">
                                                                <h3>Opening Ceremony</h3>
                                                        </div>
                                                        <div class="program__item__time">
                                                                <p>10:00 - 11:00</p>
                                                        </div>
                                                        <div class="program__item__location">
                                                                <p>Room 1</p>
                                                        </div>
                                                </div>
                                        </div>
                                </li>

                                <li>
                                        <div class="program__item">
                                                <div class="program__item__date">
                                                        <p>Saturday, 5 Sept. 2023</p>
                                                </div>
                                                <div class="program__item__details">
                                                        <div class="program__item__title">
                                                                <h3>Opening Ceremony</h3>
                                                        </div>
                                                        <div class="program__item__time">
                                                                <p>10:00 - 11:00</p>
                                                        </div>
                                                        <div class="program__item__location">
                                                                <p>Room 1</p>
                                                        </div>
                                                </div>
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>
{% endblock %}