{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="program">
                        <ul>
                                {% for item in programs %}
                                        <li>
                                                <div class="program__item">
                                                        <div class="program__item__date">
                                                                <p>{{ item.date }}</p>
                                                        </div>
                                                        <div class="program__item__details">
                                                                <div class="program__item__title">
                                                                        <h3>
                                                                                <a href="{{ item.url}}" target="_blank" >
                                                                                        <b>{{ item.title }}
                                                                                                <span>
                                                                                                        <svg width="9" height="10" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3987 4.71246H5.8184V0.810547H25V19.9299H21.0854V7.55261L2.76805 25.8105L0 23.0515L18.3987 4.71246Z" fill="black"/>
                                                                                                        </svg>
                                                                                                </span>
                                                                                        </b>
                                                                                </a>

                                                                        </h3>
                                                                </div>
                                                                <div class="program__item__time">
                                                                        <p>{{ item.time }}</p>
                                                                </div>
                                                                <div class="program__item__location">
                                                                        <p>{{ item.description }}
                                                                                <br>
                                                                                <span>{{ item.location}}</span></p>

                                                                </div>
                                                        </div>
                                                </div>
                                        </li>
                                {% endfor %}
                        </ul>
                </div>
        </div>
{% endblock %}