{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="technical">
                        <article class="tech">

                                <section class="text wrap">
                                        <p>Invasive Species uses mixed media to develop a composite understanding of the Cut as a balanced and healthy ecosystem. Field recordings from the Cut, archival media, and personal narratives from interviewees are overlaid in a lush soundscape. This sonic habitat integrates and amplifies all voices of the land, highlights summer as a season of growth, and presents the cyclic awakening that takes place every day in this urban ecosystem. During the performance, the sound is projected toward the 18th Street bridge and used throughout the video projection, mixed reality experience, and gallery exhibition.</p>
                                </section>

                                <section class="audios wrap">
                                        <div class="audio">
                                                <audio controls>
                                                        <source src="./../assets/audio/Media-1.mp3" type="audio/mpeg">
                                                        Your browser does not support the audio element.
                                                </audio>
                                                <div class="caption">
                                                        <p>This excerpt is a guided walk through a landscape of foliage that triggers ruminations and bits of stories. In creating the audio, I imagined two people quietly walking together through overgrown plots of land. Between each speaker, a manipulated frog call transports them into a different landscape.</p>
                                                </div>
                                        </div>

                                        <div class="audio">
                                                <audio controls>
                                                        <source src="./../assets/audio/Media-2.mp3" type="audio/mpeg">
                                                        Your browser does not support the audio element.
                                                </audio>
                                                <div class="caption">
                                                        <p>This composition is a sonic habitat that integrates and amplifies all voices of the land. To create the habitat, I resampled and manipulated recorded interviews and field recordings of flora and fauna through effects processing and used synthesizers to add non-organic sound.</p>
                                                </div>
                                        </div>

                                </section>

                                <section class="text wrap">
                                        <p>
                                                An interactive experience, hosted on the <a href="https://scavengar.world/">Scavengar</a> mixed reality & AR platform, will interweave research about the plants, root systems, insects, animal life, and urban ecosystems specific to the Cut. The month-long mixed reality experience displays colossal 3D models of hybrid plant species and allows users to cultivate virtual plants.
                                        </p>
                                </section>

                                <section class="video">
                                        <div class="video-container">
                                                <video class="video" controls  >
                                                        <source src="./../assets/images/vid/Enscape_2023-04-19-21-27-34.mp4" type="video/mp4">
                                                </video>
                                        </div>
                                </section>

                                <section class="text wrap">
                                        <p>
                                                The Invasive Species performance includes a video projected onto the side of the Community College of Philadelphia's Center for Business and Industry. The video, which is loosely inspired by Octavia Bulter’s science fiction novel Parable of the Sower, follows two protagonists as they navigate a world where plant, animal, and insect perception take precedence. Along the way they encounter kindred spirits who share their migration stories and knowledge about soil rejuvenation and urban cultivation.
                                        </p>
                                </section>

                        </article>

                </div>
        </div>
{% endblock %}