{% extends "layouts/base.njk" %}
{% block content %}
        <div id="app">
                <div class="the-cut">
                        <article>
                                {% for p in cut.content %}
                                        {{ p  | safe}}
                                {% endfor %}
                        </article>

                        <!-- Slider main container -->
                        <div class="images">
                                <!-- Additional required wrapper -->
                                <div class="images-wrapper">
                                        <!-- Slides -->
                                        {% for img in cut.images | reverse %}
                                                <div class="slide">
                                                        <img src="{{ img.src }}" alt="">
                                                        <caption>
                                                                {{ img.credit }}
                                                        </caption>
                                                </div>
                                        {% endfor %}
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}