<header>
    <div class="title">
        <h1>
            <a href="/">Invasive Species</a>
        </h1>
    </div>
    <nav>
        <h2 id="desktop-nav">
            <a href="/about" {% if page.url == '/about/'%} class="active__link"{% endif %} >About</a>, 
            <a href="/program" {% if page.url == '/program/'%} class="active__link"{% endif %} >Program</a>, 
            <a href="/the-cut" {% if page.url == '/the-cut/'%} class="active__link"{% endif %}>The Cut</a>, 
            <a href="/technical" {% if page.url == '/technical/'%} class="active__link"{% endif %}>Technical</a>, 
            <a href="/collaboration" {% if page.url == '/collaboration/'%} class="active__link"{% endif %}>Collaboration</a>
        </h2>
        <h2 id="mobile-nav" hidden>
            {% if page.url == "/" %}
                <a href="">Menu</a>
            {% elif page.url == "/about/" %}
                <a href="">About</a>
            {% elif page.url == "/program/" %}
                <a href="">Program</a>
            {% elif page.url == "/the-cut/" %}
                <a href="">The Cut</a>
            {% elif page.url == "/technical/" %}
                <a href="">Technical</a>
            {% elif page.url == "/collaboration/" %}
                <a href="">Collaboration</a>
            {% endif %}
        </h2>

        <ul id="mobile-nav-list">
            <li>
                <a href="/about" {% if page.url == '/about/'%} class="active__link"{% endif %} >About</a>
            </li>
            <li>
                <a href="/program" {% if page.url == '/program/'%} class="active__link"{% endif %} >Program</a>
            </li>
            <li>
                <a href="/the-cut" {% if page.url == '/the-cut/'%} class="active__link"{% endif %}>The Cut</a>
            </li>
            <li>
                <a href="/technical" {% if page.url == '/technical/'%} class="active__link"{% endif %}>Technical</a>
            </li>
            <li>
                <a href="/collaboration" {% if page.url == '/collaboration/'%} class="active__link"{% endif %}>Collaboration</a>
            </li>
        </ul>
    </nav>
</header>